<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}" media="screen,projection"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/gijgo.min.css}">
    <!--Let browser know website is optimized for mobile-->
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.mask.js}"></script>
    <script type="text/javascript" th:src="@{/js/gijgo.min.js}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Title</title>
</head>
<body>
<h3>SpringBoot + Thymeleaf + Materialize Design</h3>
<div class="row" sec:authorize="hasAnyRole('ADMIN' , 'GERENTE')">
    <fieldset class="col s12">
        <legend>Cadastro de Pessoas</legend>
        <div th:each="m : ${msg}">
            <span th:text="${m}"></span>
        </div>
        <form th:action="@{/pessoa/cadastrar}" method="post" th:object="${pessoa}" class="col s12" id="formRegister">
            <div class="row">
                <div class="input-field col s6">
                    <label class="active" for="id" id="lbl_id">ID</label>
                    <input type="text" id="id" readonly th:field="*{id}">
                </div>
                <div class="input-field col s6">
                    <label class="active" for="nome" id="lbl_nome">Nome</label>
                    <input class="validate" required type="text" name="nome" id="nome" th:field="*{nome}"/>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <label class="active" for="sobrenome" id="lbl_sobrenome">Sobrenome</label>
                    <input type="text" name="sobrenome" id="sobrenome" th:field="*{sobrenome}"/>
                </div>
                <div class="input-field col s6">
                    <label class="active" for="dta" id="lbl_dta">Data Nascimento</label>
                    <input type="date" class="datepicker" name="dta" id="dta" th:field="*{dta}" placeholder="">
                </div>
            </div>
            <div class="row">
                <div class="col s4">
                    <label class="active" for="selectsexo" id="lbl_sexo">Sexo</label>
                    <select id="selectsexo" class="browser-default validate" th:field="*{sexo}" required>
                        <option value="" selected>[Selecione]</option>
                        <option value="MASCULINO">Masculino</option>
                        <option value="FEMININO">Feminino</option>
                    </select>
                </div>
                <div class="col s4">
                    <label class="active" for="selectprofissao" id="lbl_profissao">Profissao</label>
                    <select id="selectprofissao" class="browser-default validate" th:field="${pessoa.profissao}"
                            required>
                        <option value="" selected aria-invalid="true">[Selecione]</option>
                        <option th:each="profissao : ${profissoes}" th:value="${profissao.id}"
                                th:text="${profissao.nome}"></option>
                    </select>
                </div>
                <div class="col s4">
                    <label class="active" for="selectcargo" id="lbl_cargo">Cargo</label>
                    <select id="selectcargo" class="browser-default validate" th:field="${pessoa.cargo}"
                            required>
                        <option value="" selected aria-invalid="true">[Selecione]</option>
                        <option th:each="cargo : ${T(br.com.webmvnspringbootthymeleaf.model.Cargo).values()}" th:value="${cargo.key}"
                                th:text="${cargo.value}"></option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6" hidden>
                    <label class="active" for="endereco_id" id="lbl_endereco_id" hidden>ID</label>
                    <input type="text" name="endereco_id" id="endereco_id" hidden th:field="${pessoa.enderecos[0].id}">
                </div>
                <div class="input-field col s6">
                    <label class="active" for="cep" id="lbl_cep">Cep</label>
                    <input type="text" id="cep" th:field="${pessoa.enderecos[0].cep}" required minlength="9"
                           maxlength="9"
                           onblur="buscarCEP()">
                    <span id="msgspan"></span>
                </div>
                <div class="input-field col s6">
                    <label for="logradouro" id="lbl_logradouro">Logradouro</label>
                    <input type="text" name="logradouro" id="logradouro" placeholder="" readonly
                           th:field="${pessoa.enderecos[0].logradouro}">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <label class="active" for="complemento" id="lbl_complemento">Complemento</label>
                    <input type="text" name="complemento" id="complemento" placeholder=""
                           th:field="${pessoa.enderecos[0].complemento}"/>
                </div>
                <div class="input-field col s6">
                    <label for="bairro" id="lbl_bairro">Bairro</label>
                    <input type="text" name="bairro" id="bairro" placeholder="" readonly
                           th:field="${pessoa.enderecos[0].bairro}">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <label for="cidade" id="lbl_cidade">Cidade</label>
                    <input type="text" name="cidade" id="cidade" placeholder="" readonly
                           th:field="${pessoa.enderecos[0].cidade}"/>
                </div>
                <div class="input-field col s6">
                    <label for="uf" id="lbl_uf">UF</label>
                    <input type="text" name="uf" placeholder="" id="uf" readonly th:field="${pessoa.enderecos[0].uf}">
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <button class="waves-effect waves-light btn" type="button" onclick="resetarPessoa()">
                        Novo
                    </button>
                </div>
                <div class="col s6">
                    <button class="waves-effect waves-light btn" type="submit">Salvar</button>
                </div>
            </div>
        </form>
    </fieldset>
</div>
<div class="row">
    <fieldset class="col s12">
        <legend>Campos de Pesquisa</legend>
        <form id="formPesquisa" th:action="@{/pessoa/findPessoa}" class="col s12">
            <div class="row">
                <div class="input-field col s3">
                    <label class="active" for="findname" id="lbl_find">Pesquisa</label>
                    <input type="text" id="findname" name="findname"/>
                </div>
                <div class="input-field col s3">
                    <label class="active" for="findsexo" id="lbl_findsexo">Sexo</label>
                    <select class="browser-default" name="findsexo" id="findsexo">
                        <option value="" selected>[Ambos]</option>
                        <option value="MASCULINO">Masculino</option>
                        <option value="FEMININO">Feminino</option>
                    </select>
                </div>
                <div class="col s1" style="margin-top: 25px;">
                    <button class="waves-effect waves-light btn" type="submit" onclick="pesquisarPessoa()">Pesquisar
                    </button>
                </div>
                <div class="col s1">
                    <label class="active" for="formato" id="lbl_formato">Formato</label>
                    <select class="browser-default" name="formato" id="formato">
                        <option value=".pdf" selected>PDF</option>
                        <option value=".xls">EXCEL</option>
                    </select>
                </div>
                <div class="col s3" style="margin-top: 25px;">
                    <button class="waves-effect waves-light btn" type="submit" onclick="download()">Download</button>
                    <span>Relatorio de pessoas e seus enderecos</span>
                </div>
            </div>
        </form>
    </fieldset>
</div>

<table class="striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Idade</th>
        <th>Editar</th>
        <th>Deletar</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pes : ${pessoas}">
        <td th:text="${pes.id}"></td>
        <td><a th:href="@{/telefone/{pessoaID}(pessoaID=${pes.id})}"><span th:text="${pes.nome}"></span></a></td>
        <td th:text="${pes.sobrenome}"></td>
        <td th:text="${pes.idade}"></td>
        <td><a th:href="@{/pessoa/edicao/{pessoaID}(pessoaID=${pes.id})}"><img src="#" th:src="@{/image/edit2.png}"
                                                                               height="25" width="25" alt="Editar"/></a>
        </td>
        <td><a th:href="@{/pessoa/deletar/{pessoaID}(pessoaID=${pes.id})}"><img src="#" th:src="@{/image/delete.png}"
                                                                                height="25" width="25"
                                                                                alt="Deletar"/></a></td>
    </tr>
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $("#cep").mask('00000-000');
        $("#dta").datepicker({
           showOtherMonths : true,
           format: 'yyyy-mm-dd'
        });
    });
</script>
<script type="text/javascript">
    function resetarPessoa() {
        $("#formRegister").attr("action", "[[@{/pessoa/reset}]]").submit();
    }
</script>
<script type="text/javascript">
    function pesquisarPessoa() {
        $("#formPesquisa").attr("action", "[[@{/pessoa/findPessoa}]]");
    }

    function download() {
        $("#formPesquisa").attr("action", "[[@{/pessoa/gerarRelatorio}]]");
    }
</script>
<script type="text/javascript">
    function buscarCEP() {
        var cepformatado = $("#cep").val().replace("-", "");
        $.ajax({
            method: "GET",
            url: "[[@{/endereco/buscarcep}]]",
            data: {cep: cepformatado}
        }).done(function (response) {
            $("#logradouro").val(response.logradouro);
            $("#complemento").val(response.complemento);
            $("#bairro").val(response.bairro);
            $("#cidade").val(response.cidade);
            $("#uf").val(response.uf);
        }).fail(function (xhr, textStatus, errorThrown) {
            $("#msgspan").text(xhr.responseText);
        });
    }
</script>
<script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>
</body>
</html>